html, body {
    margin: 0;
    padding: 0;
    background: #f2f3f7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

#show-scores {
    height: 20px;
    width: 70px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    text-align: center;
    line-height: 19px;font-size: 12px;
    background: black;
    color: white;
    position: absolute;
    top: 3px;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#tetris-container {
    width: 100%;
    max-width: 30vh;
    margin: auto;
    position: relative;
    top: 5vh;
}

#tetris-container::before {
    content: '';
    display: block;
    padding-top: calc(220% - 14px);
}

#tetris {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#tetris::after {
    content: attr(data-info-text);
    display: block;
    bottom: -7%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 1.4vh;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 .1em rgba(0, 0, 0, .5);
}

#tetris.key-press [class^="piece--"]:not([class^="piece--next"]) {
    transition-duration: .025s;
    transition-timing-function: linear;
}

#controls > div {
    height: 15vw;
    width: 15vw;
    border-radius: 25%;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#controls > div::after {
    content: '';
    display: block;
    color: #96a0bc;
    border: 3vw solid transparent;
    border-radius: 25%;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    position: absolute;
}

#controls .control--left {
    left: 5vw;
    bottom: 18vw;
}
#controls .control--left::after { 
    border-right-color: currentColor;
    transform: translate(-85%, -50%);
}

#controls .control--down {
    left: 21vw;
    bottom: 5vw;
}
#controls .control--down::after {
    border-top-color: currentColor;
    transform: translate(-50%, -15%)
}

#controls .control--right {
    left: 37vw;
    bottom: 18vw;
}
#controls .control--right::after {
    border-left-color: currentColor;
    transform: translate(-15%, -50%);
}

#controls .control--action {
    right: 5vw;
    bottom: 5vw;
    height: 30vw;
    width: 30vw;
    border-radius: 100%;
}

#controls .control--action::after {
    border: 0;
    background: currentColor;
    border-radius: 100%;
    height: 4vw;
    width: 4vw;
    transform: translate(-50%, -50%)
}

#game-over {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, .5) url('../img/game-over.svg') no-repeat center;
    background-size: contain;
    height: 25vw;
    max-height: 300px;
    width: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 20px -10px rgba(0, 0, 0, .6);
    display: none;
}

#save-score-form {
    width: 300px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}

#save-score-form input[type=text]::placeholder { opacity: 1; }

#save-score-form input[type=text] {
    background: rgba(255,255,255,.97);
    border-radius: 6px 0 0 6px;
    box-shadow: 0 5px 60px rgba(0, 0, 0, .6);
    color: black;
    font-weight: bold;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
    height: 45px;
    width: 70%;
    float: left;
}

#save-score-form input[type=submit] {
    border-radius: 0 6px 6px 0;
    background-color: #19a187;
    box-shadow: 0 5px 60px rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    width: 30%;
    border: 0;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    #controls > div {
        height: 75px;
        width: 75px;
    }

    #controls > div::after { border-width: 15px; }

    #controls .control--left {
        left: 25px;
        bottom: 90px;
    }

    #controls .control--down {
        left: 105px;
        bottom: 25px;
    }

    #controls .control--right {
        left: 185px;
        bottom: 90px;
    }

    #controls .control--action {
        right: 25px;
        bottom: 25px;
        height: 150px;
        width: 150px;
    }

    #controls .control--action::after {
        height: 20px;
        width: 20px;
    }
}
