.__tetris-container {
    border-radius: 6px;
    background: #13151a;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .6);
    border: 5px solid #13151a;
    border-bottom: 5px solid black;
    border-top: 3px solid rgb(255, 255, 255, .1);
    position: relative;

    --rows: 10;
    --columns: 22;
}

.__tetris-container::before {
    content: '';
    display: block;
    height: 3px;
    background: white;
    border-radius: 3px;
    margin-top: 20%;
}

.__tetris-container [class^="piece--"] {
    height: calc(100% / var(--columns) - 1px);
    width: calc(100% /  var(--rows) - 1px);
    border-radius: 3px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.3), inset 0 0 0 3px rgba(0, 0, 0, .05);
    display: inline-block;
    position: absolute;
    transition-property: left, bottom;
    transition-duration: .1s;
}

.__tetris-container .piece--I { background-color: #d41919 }
.__tetris-container .piece--O { background-color: #367bf0 }
.__tetris-container .piece--T { background-color: #19a187 }
.__tetris-container .piece--J { background-color: #ffc730 }
.__tetris-container .piece--L { background-color: #b8174c }
.__tetris-container .piece--S { background-color: #4aaee6 }
.__tetris-container .piece--Z { background-color: #fd7d00 }
